<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My welcome page</title>
    <script type="text/javascript" th:src="@{js/scripts.js}"></script>
</head>
<body>
    <h1>Gender Predictor</h1>
    <br/>
    <button type="button" th:onclick="fillDb('male')">Fill males</button>
    <button type="button" th:onclick="fillDb('female')">Fill females</button>
    <br/>
    <form method="post" th:action="@{/predict}">
        <label for="name">Name</label>
        <input id="name" type="text" th:name="name" name="name"/>
        <label for="variant">Variant:</label>
        <select id="variant" th:name="variant">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <input type="submit" value="Predict">
    </form>
    <p th:text="${response}">response</p>
    <br/>
    <table>
        <tbody>
            <tr th:each="token : ${maleTokens}">
                <td><span th:text="${token.id}"> token </span></td>
                <td><span th:text="${token.name}"> token </span></td>
            </tr>
        </tbody>
    </table>
    <br/>
    <table>
        <tbody>
        <tr th:each="token : ${femaleTokens}">
            <td><span th:text="${token.id}"> token </span></td>
            <td><span th:text="${token.name}"> token </span></td>
        </tr>
        </tbody>
    </table>

</body>
</html>